NEXT_PUBLIC_SUPABASE_URL=https://ixxswgndrpaolvoyqjwc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4eHN3Z25kcnBhb2x2b3lxandjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM3MTg5MTUsImV4cCI6MjA1OTI5NDkxNX0.kd5fxwp9lxgrRQfkeBmWJ6r_etYi5K8FgGuyN_AEBVA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4eHN3Z25kcnBhb2x2b3lxandjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzcxODkxNSwiZXhwIjoyMDU5Mjk0OTE1fQ.TIX3V473i3vwRVOBCQV4rSpSrxynG9dAM5i3hvW8FqA
